node_modules
.DS_Store
dist-ssr
*.local
mix-manifest.json
.vscode

src/icons/*.svg
dist/discordant-assets/fonts/nunito/**/*.json
dist/discordant-assets/fonts/nunito/**/*.md
dist/discordant-assets/fonts/nunito/**/*.css
dist/discordant-assets/fonts/nunito/**/*.scss
dist/discordant-assets/fonts/nunito/**/*.woff
dist/discordant-assets/fonts/nunito/**/*.woff2
!dist/discordant-assets/fonts/nunito/files/nunito-latin-ext-400-normal.woff
!dist/discordant-assets/fonts/nunito/files/nunito-latin-ext-400-normal.woff2
!dist/discordant-assets/fonts/nunito/files/nunito-latin-ext-600-normal.woff
!dist/discordant-assets/fonts/nunito/files/nunito-latin-ext-600-normal.woff2