<html class="normal" _type="channel" channelname="##javascript">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />

    <title>Discordant - LimeChat Theme</title>

    <link rel="stylesheet" href="./discordant.css" />
    <script type="module" src="./discordant.js"></script>
  </head>

  {% block bodyContent %}
  {% endblock %}

</html>
